button {
  width: 100%;
}
h2 {
  text-align: center;
}

b {
  font-size: 22px;
  width: 100px;
}

.priceSpan {
  float: right;
}
p {
  text-align: center;
}



@media screen and (max-width: 960px) {
  b,
  p,
  .priceSpan {
    display: block;
  }
  .priceSpan {
    float: left;
  }
}
