
 <div class="container">
     <div class="row">
         <div class="col-sm-6"><app-create-event [eventType] = "'Christmas'"></app-create-event></div>
         <div class="col-sm-6"> <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempor
            commodo nibh, eget sollicitudin mauris congue ut. In aliquet molestie
            justo, tincidunt accumsan nulla scelerisque id. Nam mi velit, bibendum
            vel ultrices sit amet, molestie ac velit. Nullam sed massa metus.
            Quisque efficitur diam sit amet neque volutpat posuere. Interdum et
            malesuada fames ac ante ipsum primis in faucibus. Praesent cursus leo
            non cursus dignissim. Pellentesque habitant morbi tristique senectus et
            netus et malesuada fames ac turpis egestas. Fusce sit amet sapien risus.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos. Aliquam sagittis ex nec hendrerit porta. Nam gravida
            turpis sed lorem dictum, gravida condimentum metus fringilla. Praesent
            tristique laoreet purus auctor volutpat. Nullam at est vitae enim
            pretium interdum. Pellentesque mi magna, euismod quis convallis at,
            sodales quis magna. Nullam id justo nunc. Ut auctor vel lectus vel
            condimentum. Mauris suscipit vitae mauris nec posuere. Duis nunc urna,
            imperdiet vitae augue ac, ullamcorper ullamcorper nibh. Nullam dignissim
            ornare nunc tempor efficitur. Nullam mattis fringilla est a lacinia.
          </p></div>
     </div>


 </div>
