<div *ngIf ="isLoaded" class="container">
  <form class="form" #form="ngForm" (ngSubmit)="addNewGift(form)">
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field class="full-width" hideRequiredMarker>
          <input #giftName="ngModel" [(ngModel)]="gift.giftName" required ngModel name="giftName" matInput
            placeholder="Gift Name" />
          <mat-error *ngIf="
                  giftName?.errors?.required && (giftName.touched || giftName.dirty)
                ">Gift name is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="full-width" hideRequiredMarker>
          <input #giftDescription="ngModel" ngModel [(ngModel)]="gift.giftDescription" name="giftDescription" matInput
            placeholder="Gift Description" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <mat-form-field class="full-width" hideRequiredMarker>
          <span matPrefix>$ &nbsp;</span>
          <input #price="ngModel" ngModel [(ngModel)]="gift.price" name="price" matInput pattern="^\d*(\.\d{0,2})?$"
            required placeholder="Price" />
          <mat-error *ngIf="price?.errors?.required && (price.touched || price.dirty)">Price is required.</mat-error>
          <mat-error *ngIf="price?.errors?.pattern && (price.touched || price.dirty)">Please enter valid price
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-9">
        <mat-form-field class="full-width" hideRequiredMarker>
          <input #giftUrl="ngModel" required [(ngModel)]="gift.giftUrl" pattern="https?://.+" ngModel name="giftUrl"
            matInput placeholder="Link" type="url" />
          <mat-error *ngIf="
                giftUrl?.errors?.required && (giftUrl.touched || giftUrl.dirty)
                ">Link is required.</mat-error>
          <mat-error *ngIf="
                giftUrl?.errors?.pattern && (giftUrl.touched || giftUrl.dirty)
                ">Please enter valid URL. For example:
            http://www.shufflegifts.com</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button [disabled]="form.invalid" mat-raised-button color="primary">{{createGiftData.addTo}}</button>
      </div>
    </div>

  </form>



</div>
